
.container {
  padding: 3rem;
}

.title {
  margin-top: 0;
}

.subtitle {
  color: #666;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

.mainAction {
  text-align: center;
  font-size:   4rem;
  line-height: 4rem;
  font-weight: 500;
}

.link {
  text-decoration: none;
}
