
.title {
}

.subtitle {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem;
  margin-bottom: 4rem;
}

.mainAction {
  text-align: center;
  font-size:   4rem;
  line-height: 4rem;
  font-weight: 500;
}
