* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont,
    'Segoe UI',
    'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


body {
  line-height: 22px;
  font-size: 16px;
}
p {
  margin: 0 0 1rem;
}
p.large {
  opacity: 0.8;
  line-height: 26px;
  font-size: 20px;
  font-weight: 400;
}
p.hero {
  opacity: 0.7;
  line-height: 32px;
  font-size: 24px;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 2rem 0;
}
h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 1rem;
}
h3 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin: 0 0 1rem;
}
h4 {
  font-size:   1rem;
  line-height: 1rem;
  margin: 0 0 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #bbb;
}
h5,
h6 {
  /* font-size:   1rem; */
  /* line-height: 1rem; */
  margin: 0 0 1rem;
}

legend {
  font-size:   0.8rem;
  line-height: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #bbb;
  padding: 0 0.5rem;
}
fieldset {
  border: 1px solid #bbb;
  margin-bottom: 1rem;
  padding: 0.6rem 0.75rem 0.90rem;
}

textarea,
input {
  border: 1px solid #bbb;
}

