
html, body, #root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont,
    'Segoe UI',
    'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


legend {
  font-size:   0.8rem;
  line-height: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #bbb;
  padding: 0 0.5rem;
}
fieldset {
  border: 1px solid #bbb;
  margin-bottom: 1rem;
  padding: 0.6rem 0.75rem 0.90rem;
}

textarea,
input {
  border: 1px solid #bbb;
}


.DropZone {
  color: #cdc7c2;
  border-color: #cdc7c2;
}
