
.label {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.form label {
  display: inline-block;
  width: 6rem;
}
.form input {
  margin-right: 0.5rem;
}

.inputRow > td {
  padding-bottom: 2rem;
}
.inputRow > td {
  vertical-align: top;
}
.inputRow > td:first-child {
  padding-right: 2rem;
  min-width: 350px;
}
.inputRow > td:nth-child(2) {
  color: #444;
}

.descriptions {
  border-collapse: collapse;
  margin-top: 0.5rem;
}
.descriptions td {
  vertical-align: top;
  border: 1px solid #aaa;
  padding: 2px 6px;
}
