
.form {
  display: inline-block;
}

.formRow > *:nth-child(1) {
  display: inline-block;
  width: 80px;
}
.formRow > *:nth-child(2) {
  display: inline-block;
  width: 200px;
}
.formRow > *:nth-child(3) {
  flex: 1 1;
}

.address textarea {
  min-width: 300px;
}
